@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700;900&display=swap');
@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 248, 248, 248; /* Màu trắng xám nhẹ */
}
/* globals.css */

html, body {
  /* 🟢 Khóa hiệu ứng kéo quá đà theo chiều dọc */
  overscroll-behavior-y: none; 
  
  /* 🟢 Khóa luôn chiều ngang nếu đại ca không muốn nó bị trượt qua lại */
  overscroll-behavior-x: none; 
}
body {
  font-family: 'Archivo', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  -webkit-font-smoothing: antialiased;
}
body {
  background-color: #f8f8f8;
  color: #000;
}
/* Custom Scrollbar cho ngầu */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #000;
}
